div.article-heading * {
    display: inline;
    vertical-align: middle;
}

.article-heading img {
    cursor: pointer;
}

#pause-button {
    display: none;
}

.noise-image {
    width: fit-content;
    border: solid 1px black;
}

/* Only when editing in half-size mode */

img {
    max-width: 90vw;
}

html {
    text-wrap: wrap;
}